<h2> About me</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../assets/img/jack-portrait.jpg" class="img-fluid">
    </div>
    <div class="col right">      
      <p>I am an experienced and professional Counsellor and Psychotherapist.
        Originally from Ireland, I completed my four year core training at Dublin
        Business School and graduated with a first class honours degree.
        I hold clinical membership with the Psychotherapy and Counselling Federation
        of Australia (PACFA), and am also a fully Accredited member of the Irish
        Association for Counselling and Psychotherapy (IACP). </p>
        
        <p>I bring a modern approach to therapy, and understand that clients want to sit
        across from a real person with real life experiences. I’m an integrative therapist
        meaning I draw on different modalities including Person-centred,
        Psychodynamic, Existential, and Cognitive Behavioural Therapy (CBT),
        depending on the individual needs of the client.</p>
        
        <p>If you attend my practice you are sure to find yourself in a safe and non-
        judgemental environment. You will be given all the emotional support you
        need, along with some practical tools that will help you to make positive
        changes in your life. </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
  </div>
</div>
