<div class="container">
  <div class="row">
    <div class="col">
      <h2> Contact Me</h2>
      <p>If you would like more information on counselling or have any general enquiries, please don’t
        hesitate to contact me on the details listed.</p>

      <p>I hope you found my website helpful and I look forward to getting you started on your counselling journey!</p>
      
      <p>
        <fa-icon [icon]="faPhone"></fa-icon> 0468409326
      </p>

      <p>
        <fa-icon [icon]="faEnvelope"></fa-icon> Jacksheehancounselling@gmail.com
      </p>
      
      <p>
        <fa-icon [icon]="faInstagram"></fa-icon> <a href="https://www.instagram.com/jack_sheehan_counselling_/">
          jack_sheehan_counselling</a>
      </p>

      <p>
        <fa-icon [icon]="faFacebook"></fa-icon> <a href="https://www.facebook.com/JackSheehanCounselling/"> JackSheehanCounselling</a>
      </p>

      <h3>Session Fees</h3>

      <p><strong>8am – 4pm: </strong>105 AUD</p>
      <p><strong>4pm – 9pm:</strong> 145 AUD</p>
      <p>There are no Medicare Rebates available with Counselling & Psychotherapy in Australia, which is why I offer the low cost fee of 105 AUD for day-time sessions.</p>
       <p>Each session is 50 minutes in length. </p>
      

      <h3>Location</h3>

      <p><strong>Tuesday</strong> – 504/135 Macquarie Street, Sydney CBD, NSW 2000</p>
      <p><strong>Wednesday</strong> – 7.2 Dymocks Building, 424-428 George Street, Sydney CBD, NSW 2000</p>
      <p><strong>Thursday</strong> – 311/410 Elizabeth Street, Surry Hills, NSW 2010</p>

      <div class="wpb_map_wraper img-fluid"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.769961371335!2d151.20486481505958!3d-33.869818880655984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3fa7449bc1%3A0xb5b4043ea960a5fc!2sDymocks%20Sydney!5e0!3m2!1sen!2suk!4v1620288040798!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>


      
    </div>
    <div class="col">
      <h2 class="nomargin">Enquiry Form</h2>
      <div class="col-md-6">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="Email">
          </div>
          <div class="form-group">
            <label for="ContactNo">Contact No:</label>
            <input type="email" class="form-control" name="ContactNo" aria-describedby="ContactNoHelp" placeholder="Enter Contact Number"
              formControlName="ContactNo">
          </div>
          <div class="form-group">
            <label for="comment">Message</label>
            <textarea class="form-control" formControlName="Message" name="Message" placeholder="Enter your message">
        </textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>