<div class="container">
  <div class="row">
    <div class="col">
      <h2> Contact Me</h2>
      <p>If you would like information on session fees, have any general enquiries, or would like to book an appointment
        you
        can contact me on the details listed.</p>

      <p>I hope you found my website helpful and I look forward to getting you started on your counselling journey!</p>

      <p>
        <fa-icon [icon]="faPhone"></fa-icon> 0468409326
      </p>

      <p>
        <fa-icon [icon]="faEnvelope"></fa-icon> Jacksheehancounselling@gmail.com
      </p>

      <p>
        <fa-icon [icon]="faBuilding"></fa-icon> 185 Elizabeth Street, Sydney, NSW 2000
      </p>
      <p>
        <fa-icon [icon]="faInstagram"></fa-icon> <a href="https://www.instagram.com/jack_sheehan_counselling_/">
          jack_sheehan_counselling</a>
      </p>

      <p>
        <fa-icon [icon]="faFacebook"></fa-icon> <a href="https://www.facebook.com/JackSheehanCounselling/"> JackSheehanCounselling</a>
      </p>
      <div class="wpb_map_wraper img-fluid"><iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.6687573030144!2d151.20747511521034!3d-33.87242658065526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3e23ca7b7f%3A0x340087ff95609884!2s185%20Elizabeth%20St%2C%20Sydney%20NSW%202000%2C%20Australia!5e0!3m2!1sen!2suk!4v1615649855833!5m2!1sen!2suk"
          width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>
    <div class="col">
      <h2 class="nomargin">Enquiry Form</h2>
      <div class="col-md-6">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="Email">
          </div>
          <div class="form-group">
            <label for="ContactNo">Contact No:</label>
            <input type="email" class="form-control" name="ContactNo" aria-describedby="ContactNoHelp" placeholder="Enter Contact Number"
              formControlName="ContactNo">
          </div>
          <div class="form-group">
            <label for="comment">Message</label>
            <textarea class="form-control" formControlName="Message" name="Message" placeholder="Enter your message">
        </textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>