
<h2>Services</h2>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../assets/img/services.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-md-6">
      <accordion [isAnimated]="true">
        <accordion-group heading="Individual Counselling & Psychotherapy">      
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span> 
          <p>I offer face to face sessions from my private practice on Elizabeth Street in Sydney. I work with any
            individual over the age of 18. There are no rules as to what you can bring to a therapy session but below
            are some common examples;</p>
          <ul>
            <li>Depression
            <li>Anxiety</li>
            <li>Panic Attacks</li>
            <li>Anger</li>
            <li>Trauma</li>
            <li>Psychosomatic issues</li>
            <li>Emotional issues relating to chronic illness</li>
            <li>Relationship Difficulties</li>
            <li>Grief & Loss</li>
            <li>Low Self-esteem</li>
            <li>Body Image Issues</li>
            <li>Identity Issues</li>
            <li>Sex and Sexuality</li>
            <li>Existential Issues</li>
          </ul>
        </accordion-group>
        <accordion-group heading="Online Counselling & Psychotherapy">
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span>
          <p>Now more than ever online therapy has become an increasingly popular choice among clients. It can be very convenient for those with a busy lifestyle, and can also feel safer for those who have fears around the current worldwide pandemic. Research shows that online therapy is just as effective as face to face therapy. It also allows me as a professional to connect to a much wider audience.</p>

            <p>I provide online therapy sessions to any individual over the age of 18 living in <i>Australia</i> or <i>Ireland</i>.
            </p>
        </accordion-group>
        <accordion-group heading="LGBTQI+ Counselling & Psychotherapy">
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span>
          <p>If you are a member of the lesbian, gay, bisexual, transgender, queer, intersex and allies (LGBTQI+) community who is struggling with the extra pressures in life linked to stigma, homophobic situations, uncertainty of identity, or if you are experiencing difficulties with thoughts, feelings and perceptions around your sexuality and gender identity, please get in touch.</p>

          <p>I have a particular interest and experience in working with gay men, helping them navigate their way through what can often be a challenging process from coming out, to feeling confident to be themselves and enjoy their life. If you are a young man struggling with your sexuality, or a married man who is hiding your sexuality, please get in touch as I may be the right person to help you through this. 
            </p>
        </accordion-group>
        <accordion-group heading="Men’s Issues">
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span> 
          <p>The statistics of suicide when it comes to men are chilling. Historically men have often found it more difficult or stigmatising to talk about their mental health or reach out in times of difficulty. I am passionate about changing this. I have worked extensively with men covering a broad range of issues including self-esteem, identity, anxiety, depression, sexuality, existential issues, physical issues, relationship difficulties, infidelity, and domestic abuse. If you are a man struggling, please reach out and I will create a safe and confidential space for you to open up about whatever is troubling you.</p>
        </accordion-group>
        <accordion-group heading="Relationship Counselling">
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span> 
          <p>While I do work with couples occasionally, my area of speciality is more so working with individuals (men and women) who are experiencing difficulties in their relationship. Relationship issues are never straight forward. A relationship consists of two people coming together – trying to love one another, trying to communicate effectively with one another, and trying to set up a life together! This can get messy when we consider that both of these people have possibly had completely different upbringings and are dealing with all of their own childhood experiences, pain and trauma. My skill is helping you realise what the ‘fight’ is really about, and then helping you come up with ways of moving forward.</p>
        </accordion-group>
        <accordion-group heading="Expats living in Australia">
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span> 
          <p>While you may have decided to embark on your own personal adventure to
            experience another culture, work abroad for a period of time, or perhaps create a
            new life away from home, the fact remains that emigrating to the other side of
            the world presents many challenges. These may include isolation, loneliness, a
            lack of belonging, a sense of guilt for leaving home, a feeling of detachment
            from family and friends, just to name a few.</p>
            
            <p>Add a worldwide pandemic into the mix, resulting in fewer trips home, missed
            family events, perhaps not even getting to say goodbye or grieve for loved ones
            who have passed away, and this can cause some difficult feelings and emotions
            to emerge. As an Irish person living here in Australia, I understand these issues
            very well. If you think you would benefit from talking to someone about any of
            this, I am available to help you.</p>
        </accordion-group>
        <accordion-group heading="Chronic Pain &amp; Illness">
          <span accordion-heading>
            <fa-icon [icon]="faCaretDown" class="faIcon"></fa-icon>
          </span> 
          <p>Chronic pain and illnesses are often invisible to those who pass you in the
            street, but behind the scenes can be having a devastating and debilitating impact
            on your life. You may feel you have lost a part of yourself, that you are unable
            to do the things you once loved to do. It may be causing issues in your
            relationships, and possibly resulting in you isolating yourself from others.</p>
            
            <p>Chronic conditions can lead to depression, severe anxiety about the future,
            feelings of worthlessness and shame – the list is endless. In a world that may
            seem hopeless to you, there is good news. While we can’t fix your condition in
            therapy, there is so much we can do to make your life more manageable and
            even enjoyable. The most important thing is that you get some emotional
            support for what you are going through. This is something I would like to help
            you work on.</p>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>