<div class="container">

  <h2> Testimonials</h2>
  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Counselling with Jack Sheehan was a game changer for me. I cannot
          recommend Jack enough. I was nothing but nervous for my first session and now
          I can&#39;t wait to get in the door. Jack is extremely approachable and I learnt so
          much in our sessions. Jack has helped me to work through my own issues and
          deal with things in a much healthier way. I am a much happier and calmer person
          and I am forever grateful for everything he has thought me.</p>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Jack is a patient and professional therapist with a great capacity for empathy and
          understanding.</p>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>I originally booked an appointment with Jack because I just knew I had to do
          something. I didn’t know what to expect and I was very nervous going for my first
          session. I didn’t tell any of my family or friends that I was going. Jack made me
          feel so at ease and seemed to just get exactly how I was feeling. Sometimes I
          didn’t even know how to describe the way I was feeling but he would patiently
          listen and ask questions until we figured it out. He gave me so much of his time
          and worked so hard to help me. I worked with Jack for nearly two years and
          honestly feel like I’m a different person. I now tell everyone about my experience
          in counselling and more importantly I recommend people to go to Jack.</p>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>I worked with Jack for over a year during a critical period of my life. Jack was very
          easy to talk to. He knew when to listen, when to speak and when to push me to
          do better for myself. I felt Jack was there on my shoulder fighting for me and
          working so hard to guide me through this tough point of my life. He worked so
          hard and showed that he wanted the best for me even in sessions where I wasn&#39;t
          doing the work to get me through my issues. I know today that meeting Jack
          changed me for the better and thankfully I&#39;m in a better place now. I hope reading
          this will encourage you to get in contact with Jack and together you can work to
          get to your better place.</p>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Jack is a very nice guy. Very professional. Highly recommend him as a therapist.</p>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>I recently attended Jack as a client. I found him at all times to be extremely
          conscientious, caring and professional. He was a great listener and provided an
          excellent perspective. He is gifted with empathy and has helped me turn my life
          around. Without hesitation I would recommend Jack as a Psychotherapist to
          anyone.</p>
      </blockquote>
    </div>
  </div>

</div>