<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid caroImage" src="../../assets/img/homePhoto.jpg" alt="First slide"
        height="550px">
      <div class="carousel-caption">
        <p class="homeQuote">“<em>Imagine how we would be if we were less afraid</em>” - Charlie
          Macksey</p>
        <a class="btn btn-lg" [routerLink]="['/contact']" role="button">Contact Jack Today</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Welcome</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../assets/img/jackHomepage.jpg" class="img-fluid jackHome">
    </div>
    <div class="col-12 col-md-6">
      <p>Hello and welcome to Jack Sheehan Counselling & Psychotherapy. Reaching out for help is a sign of strength and
        courage. If you have made it this far you are already starting to make positive changes. </p>
      <p>I work with clients of all ages and genders, covering a wide variety of issues and also have some areas of
        special interest. I provide face to face services in Sydney and offer online therapy sessions for the rest of
        Australia and Ireland. Have a look around my website and please feel free to contact me if you have any
        questions!
      </p>
    </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="../assets/img/pacfa.png" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="../assets/img/iacap.png" class="img-fluid">
      </div>
    </div>